/*-- FONT --*/
@font-face {
    font-family: "Gobold-Italic";
    src: url("../fonts/Gobold Regular Italic.otf") format("otf"),    
  }
  
  @font-face {
    font-family: "Gobold-Regular";
    src: url("../fonts/Gobold Regular.otf") format("otf"); 
}

/*-- FOOTER --*/

.newsletter{
    background:#1C1C1C;
    border-top-width: 1px;
border-top-style: solid;
border-bottom-width: 0px;
border-bottom-style: solid;

height: 180px;
}


.newsletter h2{
    margin-top: 20px;
    margin-bottom:0 ;
    margin-left: 30px;
    
    font-family: Gobold;
    font-style: italic;
    color:#ffffffde;

}
.button_newsletter{
    display: flex;
    flex-direction:column ;
    align-items: center;

    margin-top: -30px;
}

.button_newsletter input{
    width: 700px;
    height: 45px;
    border: none;
    border-radius: 10px;


    
}

.button_newsletter button{
width: 700px;
height: 45px;
margin-top: 5px;


border: solid 1px white;
border-radius: 10px;
background: none;

font-family: Corpid E1s Cd light;
font-size: 25px;
color: white;
}

.nav{
    background: #303132;
    color: white;
    display: flex;
    align-items: center;


    height: 300px;
}
.nav_bar a{
    text-decoration: none;
    color:white;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    font-family: Corpid E1s Cd;
}

.logo_accueil{
    width: 140px;
}

.nav_bar img{
    width: 80px;
}

.gauche{
    flex: 3;
    border-right: solid 1px;
    margin-right: 40px;
}

.element_gauche{
    width: 60%;
    margin: auto;

}

.droite{
   flex: 1;
   padding-right: 30px;
}


.logo_accueil{
    position: relative;
    left: 180px;
}


.mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.left_mobile{
    display: flex;
    align-items: center;
    
    
    width: 45%;

    justify-content: space-between;

}

.mail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_mail{
    display: flex;
    align-items: center;
    
    
    width: 57%;

    justify-content: space-between;

}

.footer_a{
    text-decoration: none;
    color:white;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    font-family: Corpid E1s Cd;
}

.reseaux_sociaux{
    display: flex;
    justify-content: space-between;

    padding-left: 50px;
    padding-right: 6px;

    margin-top: 30px;

}