/*page de connexion*/

body{
    overflow-x: hidden;
    margin: 0;
    background: #24386B;
    color: white;

}

.contenu_dash{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}

h1{
    font-family: gobold;
    font-style: italic;
    font-size: 3rem;
    color: #F7CF37;
}

h2{
    font-family: Corpid E1s Cd;
    font-size: 2rem;

}

p{
    font-family: Corpid E1s Cd;
    font-size: 1rem;

 
}
h3{
    cursor: pointer;

    height: 55px;
    width: 300px;

    border: none;
    border-radius: 45px;
    background: red;
    

    font-family: Corpid E1s Cd;
    font-size: 1.4rem;
    color: white;


    padding-top: 21px;
    height: 48px;
    text-align: center;
}

h3 a{
 color: white;
}