/* Feuille de styles dataviz */

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    padding: 0px;
    margin: 0px;

    overflow-x: hidden;
}

.contenu_img{
    width: 1400px;
}

.contenu_img .ecosysteme{
    margin-top: -600px;
}

.contenu_img .ecosysteme h1{
font-size: 4rem;
margin-bottom: 50px;
margin-left: 100px;
}

.contenu_img .ecosysteme h2{
    color: white;    
    font-family: Corpid E1s Cd;
    font-size: 1.3rem;
    width: 500px;
    margin-left: 100px;
}

.contenu_img .ecosysteme a{

        margin-top: 30px;
        cursor: pointer;
        height: 55px;
        width: 300px;
        border: none;
        border-radius: 45px;
        background: rgba(255, 255, 255, 0.35);
        font-family: Corpid E1s Cd;
        font-size: 1.4rem;
        color: black;
        height: 48px;
}
.contenu_img .ecosysteme a:hover{

    background: red;
    color: white;
}

.IDF_RATP a{

    margin-top: 30px;
    cursor: pointer;
    height: 55px;
    width: 300px;
    border: none;
    border-radius: 45px;
    background: red;
    font-family: Corpid E1s Cd;
    font-size: 1.4rem;
    color: white;
    height: 48px;
}


.contenu_dataviz{
    margin-top: 30px;
}

.intro_data{
    background: #24386B;
    padding-top: 40px;
    padding-bottom: 40px;
 
}
.design img{
    width: 350px;
    margin: 0;
    opacity: 20%;
    margin-top: -290px;
}

.intro_data{
    font-family: Corpid E1s Cd;
    font-size: 1rem;
    color: white;
}


.IDF_RATP{
    margin-top: 60px;
    margin-left: 80px;

}





div h1{

    font-family: gobold;
    font-style: italic;
    font-size: 3rem;
    color: #F7CF37;
    margin: 0;
    margin-bottom: 10px;
    
}

.top{
    padding: 50px;
    background-color:white;
}

.top p{
    font-family: Corpid E1s Cd ;
    font-size: 1.5rem;
}
.top h2{
    font-size: 2rem;
    font-family: Corpid E1s Cd;


}

.top2{
    padding: 20px;
    font-size: 2.4m;
    color: oldlace;
    background: #24386B;



}
.top2 h2{
    font-family: Corpid E1s Cd;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 50px;
    color: #F7CF37;


}

.top2 p{
    font-family: Corpid E1s Cd light;
    font-size: 1.5rem;
    margin-bottom: 30px;


}
.couleur{
    color: rgb(255, 127, 127,0.6);
}


#Contenu{
    width: 100%;
    padding: 20px;
    height: 480px;
    background-color: oldlace;
    font-size: 0.8em;
    color: black;
}

