/*-- HEADER --*/

i{
  color: red;
}

header{
    position: fixed;
    top: 0.1px;
    background-color: white;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 60;

    
}

header .responsive{
  visibility: hidden

}

  header img {
      cursor: pointer;
      width: 90px;
      position: relative;
      top: auto; left: 23px;

  }

  header input{
    border-color: #a4a4a46b;
    border-radius: 10px;
    height: 30px;
    width: 220px;
    padding: 0.3rem;
    padding-left: 1rem;
    margin-bottom: 0.1rem;
    background-size: 20px;

    position: relative;
    right: 23px;

}


 a{
    text-decoration: none;
    color: black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

header a{
    font-size: 1rem;
    font-family: Corpid E1s Cd;

}

ul.drop a { display:block; color: black; text-decoration: none;}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 5px 10px; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default;}
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 195px;}
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible }
li a:hover{ color:#F7CF37;}


.admin_nav{
  margin: 0;
  margin-right: 90px;
}

.admin_nav a{
  background: #24386B;
 border: none;
 border-radius:10px ;

}

.admin_nav ul.drop a{
  color: white ;
}


/* -----------------------------RESPONSIVE-------------------------------------*/


@media(max-width:950px){

  header{
    display: flex;

  }

  header .desk{
    display: none;

  }
  header .responsive{
    visibility: visible;
    height: 50px;
  
  }

  nav{
    margin-top:116px;
      margin-right: -75px;
  }
  
  
nav .navbar {
  background-color: grey;
  position: relative;
  width: 60px;
  border: none;
  border-radius: 10px;
}

.open .navbar .hamburger-icon {
    opacity: 0;
}
  
.open .navbar .hamburger-icon_top {
  transform: rotate(45deg);
}

.open .navbar .hamburger-icon_bottom {
  transform: rotate(-45deg);
}

nav .navbar a {
  padding-left: 15px;
  height: 50px;
  display: block;
}

nav .navbar .hamburger-icon, nav .navbar .hamburger-icon_top, nav .navbar .hamburger-icon_bottom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 5px;
  background-color: #eee;
  padding: 0;
  transition: all .25s ease-in-out;
}

nav .navbar .hamburger-icon_top {
  transform: translateY(calc(-50% - 10px));
}

nav .navbar .hamburger-icon_bottom {
  transform: translateY(calc(-50% + 10px));
}

nav ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -100%;
  opacity: 0;
  width: 100%;
  background-color: red;
  list-style: none;
  transition: all .4s ease-in-out;
  border: none;
  border-radius: 15px;
}

nav.open ul {
  opacity: 1;
  left: -83px;
}

nav li {
  display: flex;
}

nav a {
  display: block;
  flex: 1;
  color: white;
  text-decoration: none;
  transition: all .2s linear;
}

nav a:hover {
  background-color: red;
  border: none;
  border-radius: 10px;
}

input{
display: none;
}

  }